
<div class="row">
   <% @movies.each do |movie| %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">      
        <%= link_to (image_tag 'First-black-white.jpg',class:'image'), movie %>
      </div>
    </div>
  <% end %>  
</div>